<div class="page-own-content">
   
    <div class="page-row">
        <div class="page-title">
            <h3>
                <a href="/candidate/profile" class="btn btn-primary">
                    <i class="las la-chevron-left me-2"></i>Back 
                </a>
                Upload your CV
            </h3>
            <small>
                {% with messages = get_flashed_messages(with_categories=true) %} 
                    {% if messages %} 
                        {% for category, message in messages %}
                        <div class="alert alert-{{ 'success' if category == 'success' else 'danger' }}" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %} 
                    {% endif %} 
                {% endwith %}
            </small>
        </div>
    </div>
    <div class="page-content">
        <div class="page-row">
            <div class="page-col">
                <div class="page-content-title">
                    <p>Manage your profile below</p>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-bio-container">
        <div class="profile-bio-wrapper">
            <div class="profile-cv-upload">
                <div class="profile-cv-upload-title">
                    <h4>Upload your CV from your computer</h4>
                </div>
                <div class="profile-cv-upload-body">
                    <form action="{{ url_for('upload_cv') }}" method="POST" enctype="multipart/form-data">
                        <div class="profile-form-row">
                            <div class="profile-form-group-col">
                                <label for="cv_upload" class="profile-label">Choose</label>
                                <input type="file" name="cv_upload" id="cv_upload" class="profile-input">
                            </div>
                        </div>
                        <div class="profile-form-row">
                            <div class="profile-form-group-col">
                                <button class="btn btn-blue1" type="submit">Upload CV</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

