<body>
    <div class="page-own-content">
    <div class="page-row">
    <div class="page-title">
    <h3>
        <a href="/candidate/profile" class="btn btn-primary">
            <i class="las la-chevron-left me-2"></i>Back 
        </a>
    Profile / Upload Photo
    </h3>
      <small>
        {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %} 
                {% for category, message in messages %}
                <div class="alert alert-{{ 'success' if category == 'success' else 'danger' }}" role="alert">
                    {{ message }}
                </div>
                {% endfor %} 
            {% endif %} 
        {% endwith %}
    </small>
    </div>
    </div>
     
    
    <div class="upload-container">
    <h3>Upload Profile Picture</h3>
     
    
    {# Corrected the comment syntax #}
    <!-- <form action="#" method="POST"> -->
    <form action="{{ url_for('upload_photo') }}" method="POST" enctype="multipart/form-data">
    <label for="profile_pic">Choose a profile picture:</label>
    <input type="file" id="profile_pic" name="profile_pic">
    <button type="submit" class="btn btn-primary las la-upload p-2">Upload</button>
    
    </form>
     
    
    {# If there's a success message, display it #}
    {% if success %}
    <div class="alert alert-success">
    {{ success }}
    </div>
    {% endif %}
    </div>
    </div>
    <script>
    function previewImage(event) {
    var reader = new FileReader();
    reader.onload = function(){
    var output = document.getElementById('profile-img-preview');
    output.src = reader.result;
    output.style.display = 'block';
    };
    reader.readAsDataURL(event.target.files[0]);
    }
    </script>
    </body>