<div class="profile-bio-container col-md-12 col-sm-6">
  <div class="profile-bio-wrapper card p-3">
    <div class="row text-center">
      <div class="card-title">
        <h4>Applications</h4>
      </div>

      <div class="col-md-3 mx-3">
        <form action="javascript:void(0);" method="POST">
          <div class="pull-left search">
            <input
              id="search_posted_job"
              class="form-control"
              type="text"
              placeholder="Job Title e.g: Web Developer"
            />
          </div>
        </form>
      </div>

      <div
        id="posted_jobs"
        class="table-responsive col-md-12 col-lg-12 col-sm-12"
      ></div>
    </div>
  </div>
</div>
