{% include 'admin/components/header.html' %}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Jobs</li>
        </ol>
        </nav>
    </div>
  <!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Posted Jobs</h5>
                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Comp. Name</th>
                        <th>Job Title</th>
                        <th>Job Type</th>
                        <th>Location</th>
                        <th>When Posted</th>
                        <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if jobs %}
                        {% for job in jobs %}
                        <tr>
                            <th scope="row">
                                <img src="/static/company_logos/{{job[1]}}" height="60" alt=""
                                />
                            </th>
                            <td>{{ job[0] }}</td>
                            <td>{{ job[2] }}</td>
                            <td>{{ job[5] }}</td>
                            <td>{{ job[6] }}</td>
                            <td>{{ job[4] }}</td>
                            <td>
                                <button
                                    type="button"
                                    class="btn btn-link btn-sm btn-rounded details-job-btn"
                                    title="Details"
                                    data-toggle="modal"
                                    data-target="#detailsModal"
                                    data-job-id="{{job[3]}}"
                                    >
                                    <i class="bi bi-eye"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <h5 style="color: #007CAD; text-align: center; font-size: 26px;" class="m-5">{{ postedjobs|length }} Job(s) Found</h5>
                    {% endif %}
                
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->
  
              </div>
            </div>
  
          </div>
        <!-- End Left side columns -->
    </div>
    </section>

    <!-- Details Modal -->
  <div
    class="modal fade"
    id="detailsModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="detailsModalTitle"
    aria-hidden="true"
    >
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="profile">
          <div class="avatar">
          </div>
          <div class="name">
            <h3 class="title fw-bold text-center" id="jobTitle" style="color: #2b4b83">
              Job Title
            </h3>
            <h6 id="jobType" class="text-muted"></h6>
            <h6 id="jobSkills" class="text-muted"></h6>
            <h6 id="jobLocation" class="text-muted"></h6>
            <h6 id="jobSalary" class="text-muted"></h6>
            <h6 id="jobDate" class="text-muted"></h6>
          </div>
        </div>

        <div class="description text-center">
          <h5 class="fw-bold pt-2">Job Summary</h5>
          <p id="jobDescription" class="text-muted"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-primary"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".details-job-btn").on("click", function () {
        var jobId = $(this).data("job-id");
        $.ajax({
          url: "/company/editjob/" + jobId,
          method: "GET",
          success: function (data) {
            $("#jobTitle").text(data.job_title);
            $("#jobType").html(
              '<i class="fa-solid fa-briefcase" style="color: #2b4b83"></i> &nbsp; Job type: ' +
                data.jobtype_name
            );
            $("#jobSkills").html(
              '<i class="fa-solid fa-list-check" style="color: #2b4b83"></i> &nbsp; Skills: ' +
                data.job_skills.join(", ")
            );
            $("#jobLocation").html(
              '<i class="fa-solid fa-building" style="color: #2b4b83"></i> &nbsp; Location: ' +
                data.job_location_name
            );
            $("#jobSalary").html(
              '<i class="fa-solid fa-wallet" style="color: #2b4b83"></i> &nbsp; Salary: ' +
                data.salary_range_name
            );
            $("#jobDate").html(
              '<i class="fa-solid fa-calendar-days" style="color: #2b4b83"></i> &nbsp; Date: ' +
                data.date
            );
            $("#jobDescription").text(data.job_description);
            $("#detailsModal").modal("show");
          },
        });
      });
    });
</script>
<!-- End #main -->
{% include 'admin/components/footer.html' %}