{% include '/components/header.html' %} {% include '/components/navbar.html' %}

<section>
  <div class="auth-form-container">
    <div class="auth-form-wrapper">
      <div class="auth-form-title">
        <p class="text-blue3">{{message}}</p>
        <p class="text-blue3" style="color: red">{{error}}</p>
      </div>
      <div class="auth-form-box">
        <form action="/admin/login" method="POST">
          <div class="auth-form-group my-4">
            <label for="email" class="auth-form-label">Email</label>
            <input
              type="email"
              name="email"
              class="auth-form-input auth-form-login"
              placeholder="Email"
            />
          </div>
          <div class="auth-form-group my-4">
            <label for="password" class="auth-form-label">Password</label>
            <input
              id="password"
              class="auth-form-input auth-form-login"
              type="password"
              name="password"
            /><br />
            <small> </small><br />
          </div>
          <div class="auth-form-group">
            <button type="submit" value="Login" class="auth-form-btn">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
