<div class="topbar-container p-3">
    <span>Welcome: {{session['key']}}</span>
</div>
{% include 'company/components/header.html' %}
{% include 'company/components/sidebar.html' %}
{% include 'company/components/panel-header.html' %}
{% include 'company/pages/post_jobs.html' %}
{% include 'company/components/panel-footer.html' %}
<link rel="stylesheet" href="../../static/css/bootstrap.css">
<!-- <link
      rel="stylesheet"
      href="../../static/css/line-awesome/css/line-awesome-min.css"
    /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">








{% include 'company/components/footer.html' %}
