<div class="card-body text-center">
  <table class="table table-hover table-striped align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr style="color: #2b4b83; font-size: 17px">
        <th>Candidate Name</th>
        <th>Title</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    {% if applicants %}{% for applicant in applicants %}
    <tbody>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
              src="../../../static/candidate_profile_pics/{{applicant[8]}} "
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
            />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{applicant[2]}} {{applicant[4]}}</p>
            </div>
          </div>
        </td>

        <td>
          <span class="d-inline">{{applicant[9]}}</span>
        </td>
        <td>
          <span class="d-inline">{{applicant[1]}}</span>
        </td>
        <td>
          <span class="d-inline">{{applicant[5]}}</span>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <a
              class="btn btn-link btn-sm btn-rounded details-job-btn"
              title="View Applicants"
              href="/jobs/applicants/{{applicant[4]}}"
            >
              <i class="fas fa-eye"></i>
            </a>
          </div>
        </td>
      </tr>

      {% endfor %} {% else %}
      <tr>
        <td>
          <h5
            style="color: #007cad; text-align: center; font-size: 20px"
            class="m-5"
          >
            {{ applicants|length }} Jobs Found
          </h5>
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<div style="text-align: center" class="text-center mx-3">
  <div class="featured-result-pagination" id="paginate">
    <p>
      <input type="hidden" id="currentPage" value="{{page}}" />
      <input type="hidden" id="total" value="{{total}}" />
      <button id="prev" onclick="prev_jobs()">
        <i class="fas fa-chevron-left"></i> prev
      </button>
      {% for i in range(1, (total+1)) %}
      <button
        class="{% if i == page %} active {% endif %}"
        id="{{i}}"
        onclick="pages_jobs(this.id)"
      >
        {{i}}
      </button>
      {% endfor %}
      <button id="next" onclick="next_jobs()">
        Next <i class="fas fa-chevron-right"></i>
      </button>
    </p>
  </div>
</div>


