<div class="col-md-12 col-12 col-lg-9">
    <div class="content-container">
        <div class="content-container-overlay"></div>
            <div class="content-body-top">
                <div class="content-page-title">
                    <button class="content-search-bar-btn d-lg-none d-sm-block mt-2" type="submit">
                        <span class="las la-bars"></span>
                </div>
                <!-- <div class="content-search-bar d-sm-none d-lg-block">
                    <form action="">
                        <input type="text" name="search_input" placeholder="Search something here...">
                        <button class="content-search-bar-btn" type="submit">
                            <span class="las la-search"></span>
                        </button>
                    </form>
                </div>
                <div class="content-messages d-sm-none d-md-block">
                    <a href="">
                        <span class="badge">6</span>
                        <span class="las la-comments"></span>
                        <span>Messages</span>
                    </a>
                </div>
                <div class="content-notifications d-sm-none d-md-block">
                    <a href="">
                        <span class="badge">4</span>
                        <span class="las la-bell"></span>
                        <span>Notifications</span>
                    </a>
                </div> -->
                <div class="content-profile-pic">
                    <div class="content-profile-image">
                        <img src="../../../static/company_logos/{{session['company_logo_pic']}}" alt="">
                    </div>
                    <div class="content-name-title">
                        <span>{{session['company_key']}} </span>
                        <span>{{session['company_email']}}</span>
                        <!-- <span>{{session['id']}}</span> -->
                    </div>
                </div>
            </div>
    
</div>

